MandelbrotDrawer/Connected Services/MandelbrotCalcServiceReference/MandelbrotCalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MandelbrotCalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/MandelbrotCalcService1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/MandelbrotCalcService1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/MandelbrotCalcService1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8000/MandelbrotCalcService1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8000/MandelbrotCalcService1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8000/MandelbrotCalcService1/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MandelbrotWcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMandelbrotCalc_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_DrawMandelbrot_InputMessage">
    <wsdl:part name="parameters" element="tns:DrawMandelbrot" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_DrawMandelbrot_OutputMessage">
    <wsdl:part name="parameters" element="tns:DrawMandelbrotResponse" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_InformAboutConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutConnection" />
  </wsdl:message>
  <wsdl:message name="IMandelbrotCalc_InformAboutConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMandelbrotCalc">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMandelbrotCalc/GetData" message="tns:IMandelbrotCalc_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMandelbrotCalc/GetDataResponse" message="tns:IMandelbrotCalc_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DrawMandelbrot">
      <wsdl:input wsaw:Action="http://tempuri.org/IMandelbrotCalc/DrawMandelbrot" message="tns:IMandelbrotCalc_DrawMandelbrot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMandelbrotCalc/DrawMandelbrotResponse" message="tns:IMandelbrotCalc_DrawMandelbrot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMandelbrotCalc/GetDataUsingDataContract" message="tns:IMandelbrotCalc_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMandelbrotCalc/GetDataUsingDataContractResponse" message="tns:IMandelbrotCalc_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMandelbrotCalc/InformAboutConnection" message="tns:IMandelbrotCalc_InformAboutConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMandelbrotCalc/InformAboutConnectionResponse" message="tns:IMandelbrotCalc_InformAboutConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMandelbrotCalc" type="tns:IMandelbrotCalc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMandelbrotCalc/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawMandelbrot">
      <soap:operation soapAction="http://tempuri.org/IMandelbrotCalc/DrawMandelbrot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMandelbrotCalc/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutConnection">
      <soap:operation soapAction="http://tempuri.org/IMandelbrotCalc/InformAboutConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MandelbrotCalcService">
    <wsdl:port name="BasicHttpBinding_IMandelbrotCalc" binding="tns:BasicHttpBinding_IMandelbrotCalc">
      <soap:address location="http://localhost:8000/MandelbrotCalcService1/MandelbrotCalcService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>